{% if is_preview %}
    <img src="{{ theme.link }}/assets/images/preview/content-steps.png" width="100%" alt="Hero preview" />
{% else %}
    <style>
        .content-steps__{{ block.id }} {
            --hero-background-image: url({{ fields.background_image.sizes.large }});
        }
    </style>
    <section class="content-steps content-steps__{{ block.id }} {{ block.className }}" id="{{ block.anchor }}">
        <div class="container">
            <div class="content-steps__content content-inner">
                {% if fields.super_title%}
                    <div class="content-steps__super_title"
                         data-aos="fade-up"
                    >
                        {{ fields.super_title }}
                    </div>
                {% endif %}
                {% if fields.title %}
                    <h1 class="content-steps__heading"
                        data-aos="fade-up"
                        data-aos-delay="300">
                        {{ fields.title }}
                    </h1>
                {% endif %}
                <div class="content-steps__calls_to_action">
                    {% if fields.calls_to_action %}
                        {% for item in fields.calls_to_action %}
                            <a href="{{ item.link.url }}"
                               style="--button--border-color:{{ item.border_color }};"
                               data-aos="fade-up"
                               data-aos-delay="600"
                               class="btn hero__link"
                               title="{{ item.link.title }}"
                               target="{{ item.link.target }}">
                                {{ item.link.title }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="content-steps__content content-inner">
                    {% if fields.items %}
                        {% for i, item in fields.items %}
                            <div class="content-steps__item" data-aos="fade-up" data-aos-delay="{{ i * 300 }}">
                                <div class="content-steps__sides">
                                {% if item.picture %}
                                    <img src="{{ item.picture.sizes.large }}" alt="{{ item.title }}"
                                         class="content-steps__item_picture">
                                {% endif %}
                                </div>
                                <div class="content-steps__sides">
                                {% if item.title %}
                                    <h3 class="content-steps__item_title">{{ item.title }}</h3>
                                {% endif %}

                                {% if item.content %}
                                    <div class="content-steps__item_content">{{ item.content }}</div>
                                {% endif %}

                                {% if item.call_to_action %}
                                    <a class="content-steps__item_call_to_action"
                                       href="{{ item.call_to_action.url }}"
                                       target="{{ item.call_to_action.target }}">
                                        {{ item.call_to_action.title }}
                                    </a>
                                {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
    </section>
{% endif %}
