<div class="setup-wizard-intro my-3">
    <h2 class="text-center mb-3">{{ __('Set up your Space in just a few steps!') }}</h2>
    <p>{{ __('Fill out the form with your company name and site URL. Once ready, we will:') }}</p>
    <ol class="my-2">
        <li class="ml-3">{{ __('Create your site within our platform.') }}</li>
        <li class="ml-3">{{ __('Set up the theme and essential tools for you.') }}</li>
        <li class="ml-3">{{ __('Redirect you to your personalized dashboard, so you can start right away.') }}</li>
    </ol>
    <p>{{ __('Click "Create my Space" to begin your digital journey.') }}</p>
</div>